In [1]:
class Employee():
    def __init__(self, first, last, salary):
        self.first=first
        self.last=last
        self.salary=salary
        self.email=first+'.'+last+'@.com'
        
    def full_name(self):
        return ('{} {}'.format(self.first, self.last))
        
        
employee_1 = Employee('Hasan', 'Moni', 100000)
employee_2 = Employee('AAAA','BBBB',200000)

employee_1.full_name()

'Hasan Moni'

In [4]:
class Employee():
    
    raise_pay = 1.05
    
    def __init__(self, first, last, salary):
        self.first=first
        self.last=last
        self.salary=salary
        self.email=first+'.'+last+'@.com'
        
    def full_name(self):
        return ('{} {}'.format(self.first, self.last))
    
    def after_raise(self):
        return self.salary*1.05
    
    
employee_1 = Employee('Hasan', 'Moni', 100000)
employee_2 = Employee('AAAA','BBBB',200000)

employee_1.after_raise()

105000.0

In [5]:
#can't acces those function where have value of variable
class Employee():
    
    raise_pay = 1.05
    
    def __init__(self, first, last, salary):
        self.first=first
        self.last=last
        self.salary=salary
        self.email=first+'.'+last+'@.com'
        
    def full_name(self):
        return ('{} {}'.format(self.first, self.last))
    
    def after_raise(self):
        return self.salary*raise_pay
    
    
employee_1 = Employee('Hasan', 'Moni', 100000)
employee_2 = Employee('AAAA','BBBB',200000)

employee_1.after_raise()

NameError: name 'raise_pay' is not defined

In [6]:
#solution of upper program
class Employee():
    
    raise_pay = 1.05
    
    def __init__(self, first, last, salary):
        self.first=first
        self.last=last
        self.salary=salary
        self.email=first+'.'+last+'@.com'
        
    def full_name(self):
        return ('{} {}'.format(self.first, self.last))
    
    def after_raise(self):
        return self.salary*Employee.raise_pay
    
    
employee_1 = Employee('Hasan', 'Moni', 100000)
employee_2 = Employee('AAAA','BBBB',200000)

employee_1.after_raise()

105000.0

In [7]:
# another way of the solution of upper program
class Employee():
    
    raise_pay = 1.05
    
    def __init__(self, first, last, salary):
        self.first=first
        self.last=last
        self.salary=salary
        self.email=first+'.'+last+'@.com'
        
    def full_name(self):
        return ('{} {}'.format(self.first, self.last))
    
    def after_raise(self):
        return self.salary*self.raise_pay
    
    
employee_1 = Employee('Hasan', 'Moni', 100000)
employee_2 = Employee('AAAA','BBBB',200000)

employee_1.after_raise()

105000.0

In [17]:
# another way of the solution of upper program
class Employee():
    
    raise_pay = 1.05
    
    def __init__(self, first, last, salary):
        self.first=first
        self.last=last
        self.salary=salary
        self.email=first+'.'+last+'@.com'
        
    def full_name(self):
        return ('{} {}'.format(self.first, self.last))
    
    def after_raise(self):
        return self.salary*self.raise_pay
    
    
employee_1 = Employee('Hasan', 'Moni', 100000)
employee_2 = Employee('AAAA','BBBB',200000)

print(employee_1.after_raise())
print(employee_1.raise_pay)
print(Employee.full_name(employee_2))
print(Employee.after_raise(employee_1))

105000.0
1.05
AAAA BBBB
105000.0

In [31]:
# another way of the solution of upper program
class Employee():
    
    raise_pay = 1.05
    
    def __init__(self, first, last, salary):
        self.first=first
        self.last=last
        self.salary=salary
        self.email=first+'.'+last+'@.com'
        
    def full_name(self):
        return ('{} {}'.format(self.first, self.last))
    
    def after_raise(self):
        return self.salary*self.raise_pay
    
Employee.raise_pay=2.5
employee_1 = Employee('Hasan', 'Moni', 100000)
employee_2 = Employee('AAAA','BBBB',200000)

#value of riise_pay will change
print(Employee.raise_pay)

#employee
print(employee_1.after_raise())
print(employee_2.after_raise())

2.5
250000.0
500000.0

Note: for both employee riase_pay value will change because we change raise_pay with Employee class

In [35]:
# another way of the solution of upper program
class Employee():
    
    raise_pay = 1.5
    
    def __init__(self, first, last, salary):
        self.first=first
        self.last=last
        self.salary=salary
        self.email=first+'.'+last+'@.com'
        
    def full_name(self):
        return ('{} {}'.format(self.first, self.last))
    
    def after_raise(self):
        return self.salary*self.raise_pay
    

employee_1 = Employee('Hasan', 'Moni', 1000)
employee_2 = Employee('AAAA','BBBB',1000)

employee_1.raise_pay = 1.2
print(employee_1.__dict__)

print(Employee.raise_pay)
print(employee_1.raise_pay)
print(employee_2.raise_pay)

{'first': 'Hasan', 'last': 'Moni', 'salary': 1000, 'email': 'Hasan.Moni@.com', 'raise_pay': 1.2}
1.5
1.2
1.5

In [36]:
print(employee_1.after_raise())
print(employee_2.after_raise())

1200.0
1500.0

Note: we changed the raise_pay value for employee_1 only for this, for employee_1 pay will increase 1.2% and for employee_2 it will increase 1.5 percent that is initial value.

In [4]:
class Employee():
    
    num_of_employee = 0
    raise_pay = 1.5
    
    def __init__(self, first, last, salary):
        self.first=first
        self.last=last
        self.salary=salary
        self.email=first+'.'+last+'@.com'
        
        Employee.num_of_employee +=1
        
    def full_name(self):
        return ('{} {}'.format(self.first, self.last))
    
    def after_raise(self):
        return self.salary*self.raise_pay
    
print('Before asigning value: ', Employee.num_of_employee)
    
employee_1 = Employee('Hasan', 'Moni', 1000)
employee_2 = Employee('AAAA','BBBB',1000)

print('After assigning value: ', Employee.num_of_employee)

Before asigning value:  0
After assigning value:  2