##### Format

In [13]:
person = {'name':'hasan', 'age': 25}

#one way
sentence = 'My name is {} and my age is {}'.format(person['name'], person['age'])
print(sentence)


#same way with serial number
sentence = '\n\nMy name is {0} and my age is {1}'.format(person['name'], person['age'])
print(sentence)



#same way with serial number
sentence = '\n\nMy name is {0[name]} and my age is {1[age]}'.format(person, person)
print(sentence)


#same way with serial number
sentence = '\n\nMy name is {0[name]} and my age is {0[age]}'.format(person)
print(sentence)


l = ['moni', 28]
sentence = '\n\nMy name is {0[0]} and my age is {0[1]}'.format(l)
print(sentence)

My name is hasan and my age is 25


My name is hasan and my age is 25


My name is hasan and my age is 25


My name is hasan and my age is 25


My name is moni and my age is 28

##### Header

In [8]:
tag = 'h1'
text = 'This is a headline'

sentence = '<{0}>{1}</{0}>'.format(tag, text)
print(sentence)

<h1>This is a headline</h1>

##### Work with class

In [15]:
class person():
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
p1 = person('moni', 23)

sentence = 'My name is {0.name} and my age is {0.age}'.format(p1)
print(sentence)

My name is moni and my age is 23

In [17]:
sentence = 'My name is {name} and my age is {age}'.format(name='moni', age='27')
print(sentence)

My name is moni and my age is 27

In [18]:
person = {'name':'hasan Moni', 'age':22}
sentence = 'My name is {name} and my age is {age}'.format(**person)
print(sentence)

My name is hasan Moni and my age is 22

In [21]:
for i in range(0,11):
    sentence = 'The number is : {}'.format(i)
    print(sentence)

The number is : 0
The number is : 1
The number is : 2
The number is : 3
The number is : 4
The number is : 5
The number is : 6
The number is : 7
The number is : 8
The number is : 9
The number is : 10

In [24]:
#taking two digit
for i in range(0,11):
    sentence = 'The number is : {:02}'.format(i)
    print(sentence)

The number is : 00
The number is : 01
The number is : 02
The number is : 03
The number is : 04
The number is : 05
The number is : 06
The number is : 07
The number is : 08
The number is : 09
The number is : 10

In [23]:
#taking three digit
for i in range(0,11):
    sentence = 'The number is : {:03}'.format(i)
    print(sentence)

The number is : 000
The number is : 001
The number is : 002
The number is : 003
The number is : 004
The number is : 005
The number is : 006
The number is : 007
The number is : 008
The number is : 009
The number is : 010

##### working with pi

In [27]:
pi = 3.14159265
sentence = 'Pi value is : {}'.format(pi)
sentence

'Pi value is : 3.14159265'

In [29]:
#taking only two decimal point
pi = 3.14159265
sentence = 'Pi value is : {:.2f}'.format(pi)
sentence

'Pi value is : 3.14'

In [30]:
#taking only three decimal point
pi = 3.14159265
sentence = 'Pi value is : {:.3f}'.format(pi)
sentence

'Pi value is : 3.142'

##### using khoma separator

In [33]:
sentence = '1 MB equal to : {:,} bytes'.format(1000*2)
sentence

'1 MB equal to : 2,000 bytes'

In [35]:
#with two decimal point
sentence = '1 MB equal to : {:,.2f} bytes'.format(1000*2)
sentence

'1 MB equal to : 2,000.00 bytes'

##### datetime

In [36]:
import datetime
 
mydate = datetime.datetime(2015, 11, 25, 8, 30, 15)
print(mydate)

2015-11-25 08:30:15

In [38]:
#date formatting
sentence = '{:%Y, %m}'.format(mydate)
print(sentence)

2015, 11

In [41]:
#full date and number of of day and day name
import datetime
 
mydate = datetime.datetime(2015, 11, 25, 8, 30, 15)
print(mydate)

sentence = '{0:%B %d, %Y} fell on a {0:%A} and was the {0:%j} day of the year'.format(mydate)
print(sentence)

2015-11-25 08:30:15
November 25, 2015 fell on a Wednesday and was the 329 day of the year